# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Lambda
lambda_function.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/